#landingPage{
  margin-top: 25vh;
}

.searchContainer {
  width: 100%;
  margin: auto!important;
}

.subtitle{
  display: block;
  width: 100%;
}

.logoSection{
  display: flex;
  margin: 1em auto;
  justify-content: center;
}

.nameHeading{
  line-height: 15vh;
}

.logo{
  height: 15vh;
}