.searchContainer {
  width: 100%;
  margin-top: 35vh;
  /* transform: translateY(-50%); */
}

.searchBar {
  width: 100%;
  display: flex;
}

.input-group {
  flex: 1 0 80%;
}

#inlineFormInputGroupUsername2 {
  height: 3em;
  font-family: Arial, FontAwesome;
  border-radius: 0px !important;
}

#inlineFormInputGroupUsername2:focus {
  border: 1px #d3d3d3 solid !important;
}

.searchButton {
  height: 3em;
  background-color: #fcc66a !important;
  font-weight: bold !important;
  border: 1px #fcc66a solid !important;
  border-radius: 0px !important;
}
