.imageDiv {
  background-color: #eee;
}

.searchBarHeader{
  padding: 1em;
  border: 1px lightgrey solid;
  width: 100vw;
}

.logoSection{
  margin: 0.5em auto;
  justify-content: center;
}

.logoSmall{
  height: 5vh;
  margin: 0.5em 2em 0.5em 0.5em;
}

.trademeListings {
  margin: 1em;
  padding-bottom: 1em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.listingImage{
  height: 10em;
  object-fit: contain;
  width: 100%;
}

.listingCard {
  height: 20em;
  border: 1px solid grey;
  flex: 1 0 30%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}

.listingTitle{
  font-size: 1.3em;
  font-weight: bolder;
}

.listingText {
  font-size: 0.9em;
}

@media (min-width: 1200px){

  .searchBarHeader{
    width: 75vw;
  }
}